<div class="container">

<div class="row">
	<!--ROW 1-->
		<div class="col-md-home-12" style="background: #fff;padding:20px;">

			<h3>{{"partials.index.account.bank" | translate}}</h3>

			<form role="form" style="margin-top:30px;">
			  <div class="form-group">
			    <label for="label-to">{{"partials.account.address.validF" | translate}}</label>
					<input class="form-control input-lg width80" type="date" placeholder="..." value="{{startdate}}">
			  </div>

				<div class="form-group">
			    <label for="label-type">Recipent</label>
					<input class="form-control input-lg width80" type="text" placeholder="..." value="{{rec}}">
			  </div>

			  <div class="form-group">
			    <label for="label-from">IBAN</label>
					<input class="form-control input-lg width80" type="text" placeholder="..." value="{{iban}}">
			  </div>

			  <div class="form-group">
			    <label for="label-from">BIC</label>
					<input class="form-control input-lg width80" type="text" placeholder="..." value="{{bic}}">
			  </div>

			  <div class="form-group">
			    <label for="label-until"></label>
						<button type="submit" class="btn btn-style-2 width80">{{"partials.button.save" | translate}}</button>
				</div>
			</form>
</div>
<div style="clear:both;margin-bottom:50px;">
