<!-- container -->
<div class="container">
<div class="row">
<!--ROW 1-->	
<div class="col-md-home-12" style="background: #fff;padding:20px;">
	
	<h3 style="margin-bottom:40px;">Certification</h3>
	
	<div class="table-responsive">
		<table class="table">
			<thead>
					<tr>
						<th class="active">Type</th>
			  		<th class="active"></th>
			    </tr>
			</thead>
			<tbody>
			   <tr>
						<td>Statement of earnings</td>
						<td style="text-align:right;">
							<button type="button" class="btn btn-default-mini btn-edit" ><span class="glyphicon glyphicon-file modal-icon"></span> Preview</button>
							<button type="button" class="btn btn-default-mini btn-edit"><span class="glyphicon glyphicon-print modal-icon"></span> Print</button>
						</td>
			    </tr>
			
			   	<tr>
						<td>Wohngeldbescheinigung ?</td>
						<td style="text-align:right;">
							<button type="button" class="btn btn-default-mini btn-edit" ><span class="glyphicon glyphicon-file modal-icon"></span> Preview</button>
							<button type="button" class="btn btn-default-mini btn-edit"><span class="glyphicon glyphicon-print modal-icon"></span> Print</button>
						</td>
			    </tr>
				</tbody>
	  </table>
	</div>

</div>
<div style="clear:both;margin-bottom:50px;">
<!-- /container -->