<div class="container">
			<div class="row">
				<!--ROW 1-->
				<div class="col-md-home-12" style="background: #fff;padding:20px;">
						<div class="tabbable">
						    <ul class="nav nav-tabs">
						      <li ><a href="#/inbox" data-toggle="tab">{{"partials.index.inbox" | translate}}</a></li>
						      <li class="active"><a href="#/outbox" data-toggle="tab">{{"partials.index.outbox" | translate}}</a></li>
						    </ul>
						    <h3>{{"partials.index.outbox" | translate}}</h3>

											<div class="tablenav">
												<div class="tablenav-title"></div>
												<div class="tablenav-select"><input class="form-control input" type="date"  ></div>
												<div class="tablenav-button">
													<a href="1.2-mailbox.html" class="btn btn-default" role="button" style="padding:15px 12px;"><span class="glyphicon glyphicon-envelope modal-icon"></span>
                            {{"partials.index.sendmail" | translate}}</a>
												</div>
											</div>

											<div class="table-responsive">
												<table class="table">
													<thead>
															<tr>
																<th class="active">{{"partials.index.mailDate" | translate}}</th>
													  		<th class="active">{{"partials.index.mailTo" | translate}}</th>
													  		<th class="active">{{"partials.index.mailSubject" | translate}}</th>
																<th class="active" width="160"></th>
													    </tr>
													</thead>
													<tbody>
													   <tr ng-repeat="outbox in outboxs ">

																<td>{{outbox.maildate}}</td>
													      <td>{{outbox.mailto}}</td>
													      <td>{{outbox.mailsubject}}</td>
																<td>
																	<button type="button" class="btn btn-default-mini btn-edit"  onclick="window.location='#/openmail';"><span class="glyphicon glyphicon-file modal-icon"></span> {{"partials.index.mailOpen" | translate}}</button>
																</td>
															</tr>

													 </tbody>
											  </table>
											</div>
								</div>
							</div>

					</div>

				</div>

				<div style="clear:both;margin-bottom:50px;">
