<div class="container">



<div class="row">
<!--ROW 1-->
	<div class="col-md-home-4">
		<a href="" class="big-button" data-toggle="modal" data-target="#mailbox" >
			<div class="icon-box"><span class="glyphicon glyphicon-envelope icon-big"></span></div>
      {{"partials.index.mailbox" | translate}}<span class="badge badge-msg">7</span>

    </a>
	</div>

	<div class="col-md-home-4">
		<a href="" class="big-button" data-toggle="modal" data-target="#application" >
			<div class="icon-box"><span class="glyphicon glyphicon-flag icon-big"></span></div>
      {{"partials.index.application" | translate}}
		</a>
	</div>

	<div class="col-md-home-4 last">
		<a href="" class="big-button" data-toggle="modal" data-target="#timerecord" >
			<div class="icon-box"><span class="glyphicon glyphicon-time icon-big"></span></div>
      {{"partials.index.timerecord" | translate}}
		</a>
	</div>

<!--ROW 2-->
	<div class="col-md-home-4">
		<a href="#/certification" class="big-button">
			<div class="icon-box"><span class="glyphicon glyphicon-list-alt icon-big"></span></div>
      {{"partials.index.certification" | translate}}
		</a>
	</div>

  <div class="col-md-home-4">
		<a href="#/payment" class="big-button">
			<div class="icon-box"><span class="glyphicon glyphicon-euro icon-big"></span></div>
      {{"partials.index.payment" | translate}}
		</a>
</div>

  <div class="col-md-home-4 last">
    <a href="#/profile" class="big-button"  >
      <div class="icon-box"><span class="glyphicon glyphicon-user icon-big"></span></div>
      {{"partials.index.account" | translate}}
    </a>
  </div>

<!--ROW 3-->
	<div class="col-md-home-8">
		<a href="#/search" class="big-button">
			<div class="icon-box-search"><div class="icon-box"><span class="glyphicon glyphicon-search icon-big">
      </span></div>{{"partials.index.search" | translate}}</div>
			<div class="icon-box-search-form"><input class="form-control input-lg search-input" type="text"
                                               placeholder='{{"partials.search.searchIndex" | translate}}'></div>
			<div class="icon-box-search-txt">
        {{"partials.search.employeesearch" | translate}}

       </div>
		</a>
	</div>

  <div class="col-md-home-4 last">
		<a href="#/services" class="big-button">
			<div class="icon-box"><span class="glyphicon glyphicon-info-sign icon-big"></span></div>
      {{"partials.mainmenus.service" | translate}}

		</a>
	</div>
</div>
<div style="clear:both;margin-bottom:50px;">
<!-- /container -->

</div>
