<div class="container">
			<div class="row">

				<div class="col-md-home-12" style="background: #fff;padding:20px;">
						<div class="tabbable">
						    <ul class="nav nav-tabs">
						      <li><a href="#/notification1" data-toggle="tab">notification1</a></li>
						      <li class="active"><a href="#/notification2" data-toggle="tab">notification2</a></li>
						    </ul>
								<!--TAB CONTENT-->
						    <div class="tab-content">
									<!--TAB 1-->
						      <div class="tab-pane active" id="inbox">

										<h3>notification2</h3>

										<div class="tablenav">
											<div class="tablenav-title"></div>
 											<div class="tablenav-button">
												<a href="#/sendmail" class="btn btn-default" role="button" style="padding:15px 12px;">
                          <span class="glyphicon glyphicon-envelope modal-icon"></span> Send Notif2</a>
											</div>
										</div>

										<div class="table-responsive">
											<table class="table">
												<thead>
														<tr>
															<th class="active">Date</th>
												  		<th class="active">From</th>
												  		<th class="active">Subject</th>
															<th class="active" width="280"></th>
												    </tr>
												</thead>
												<tbody>
												   <tr>
															<td>19.11.2013</td>
												      <td>Herr Muster Mann</td>
												      <td>Li Europan lingues es membres del</td>
															<td>
																<button type="button" class="btn btn-default-mini btn-edit" onclick="window.location='#/sendmail';"><span class="glyphicon glyphicon-circle-arrow-left modal-icon"></span> Reply</button>
																<button type="button" class="btn btn-default-mini btn-edit" onclick="window.location='#/openmail';"><span class="glyphicon glyphicon-file modal-icon"></span> Opening</button>
															</td>
														</tr>

 												   <tr>
 															<td>19.11.2013</td>
 												      <td>Herr Muster Mann</td>
 												      <td>Li Europan lingues es membres del</td>
 															<td>
 																<button type="button" class="btn btn-default-mini btn-edit" onclick="window.location='#/sendmail';"><span class="glyphicon glyphicon-circle-arrow-left modal-icon"></span> Reply</button>
 																<button type="button" class="btn btn-default-mini btn-edit" onclick="window.location='#/openmail';"><span class="glyphicon glyphicon-file modal-icon"></span> Opening</button>
 															</td>
 														</tr>

 												   <tr>
 															<td>19.11.2013</td>
 												      <td>Herr Muster Mann</td>
 												      <td>Li Europan lingues es membres del</td>
 															<td>
 																<button type="button" class="btn btn-default-mini btn-edit" onclick="window.location='#/sendmail';"><span class="glyphicon glyphicon-circle-arrow-left modal-icon"></span> Reply</button>
 																<button type="button" class="btn btn-default-mini btn-edit" onclick="window.location='#/openmail';"><span class="glyphicon glyphicon-file modal-icon"></span> Opening</button>
 															</td>
 														</tr>
												 </tbody>
										  </table>
										</div>
									</div>
