   <div class="container">
			
			
			<div class="row">
				<!--ROW 1-->	
				<div class="col-md-home-12" style="background: #fff;padding:20px;">
						<div class="tabbable">
						    <ul class="nav nav-tabs">
						      <li class="active"><a  data-toggle="tab">Check List</a></li>
						      <li><a  data-toggle="tab">###</a></li>
						    </ul>
								<!--TAB CONTENT-->	
						    <div class="tab-content">
									<!--TAB 1-->	
						      <div class="tab-pane active" id="time-correction">
						      	
										<h3 style="margin-bottom:40px;">Check List</h3>
										
										<div class="table-responsive">
											<table class="table">
												<thead>
														<tr>
															<th class="active">Type</th>
												  		<th class="active"></th>
												    </tr>
												</thead>
												<tbody>
												   <tr>
															<td>My first day in the company</td>
															<td style="text-align:right;">
																<button type="button" class="btn btn-default-mini btn-edit" ><span class="glyphicon glyphicon-file modal-icon"></span> Preview</button>
																<button type="button" class="btn btn-default-mini btn-edit"><span class="glyphicon glyphicon-print modal-icon"></span> Print</button>
															</td>
												    </tr>
							
												   	<tr>
															<td>I become a child</td>
															<td style="text-align:right;">
																<button type="button" class="btn btn-default-mini btn-edit" ><span class="glyphicon glyphicon-file modal-icon"></span> Preview</button>
																<button type="button" class="btn btn-default-mini btn-edit"><span class="glyphicon glyphicon-print modal-icon"></span> Print</button>
															</td>
												    </tr>
													</tbody>
										  </table>
										</div>
								</div>
									
									<!--TAB 2-->	
						      <div class="tab-pane" id="time-status">
										<h3 style="margin-bottom:40px;">###</h3>
										
										<div class="table-responsive">
											<table class="table">
												<thead>
														<tr>
															<th class="active">Type</th>
												  		<th class="active"></th>
												    </tr>
												</thead>
												<tbody>
												   <tr>
															<td>###</td>
															<td style="text-align:right;">
																<button type="button" class="btn btn-default-mini btn-edit"><span class="glyphicon glyphicon-file modal-icon"></span> Preview</button>
																<button type="button" class="btn btn-default-mini btn-edit"><span class="glyphicon glyphicon-print modal-icon"></span> Print</button>
															</td>
												    </tr>
							
												   	<tr>
															<td>### ?</td>
															<td style="text-align:right;">
																<button type="button" class="btn btn-default-mini btn-edit"><span class="glyphicon glyphicon-file modal-icon"></span> Preview</button>
																<button type="button" class="btn btn-default-mini btn-edit"><span class="glyphicon glyphicon-print modal-icon"></span> Print</button>
															</td>
												    </tr>
													</tbody>
										  </table>
										</div>
							</div>
						</div>
					</div>
<div style="clear:both;margin-bottom:50px;">
<!-- /container -->