<div class="container">
<div class="row">   
    <div class="col-md-home-12" style="background: #fff;padding:20px;">
        <ul class="nav nav-tabs abstab">  
            <li ><a href="#/timerecords">Time Correction</a> </li>   
            <li class="active"><a href="#/timestatus">Time Status</a></li> 
        </ul>  
        <div class="tab-content">
        	<h3>Time Status</h3>
							
				<div class="tablenav">
					<div class="tablenav-title"><h4>Actual Time Status</h4></div>
					
					<div class="tablenav-select" style="float:right;"><input class="form-control input" type="date" placeholder="date" ng-model="searchdate" ng-change="search()"></div>
					<div class="tablenav-title" style="float:right;">Search Date</div>
				</div>
				
				<a ng-click="openTimeStatus('October 2013')" class="btn btn-style-2" role="button">October 2013</a>
				<a ng-click="openTimeStatus('September 2013')" class="btn btn-style-2" role="button">September 2013</a>
				<a ng-click="openTimeStatus('August 2013')" class="btn btn-style-2" role="button">August 2013
				<a ng-click="openTimeStatus('July 2013')" class="btn btn-style-2" role="button">July 2013</a>
				<a ng-click="openTimeStatus('Juni 2013')" class="btn btn-style-2" role="button">Juni 2013</a>
				<a ng-click="openTimeStatus('Mai 2013')" class="btn btn-style-2" role="button">Mai 2013</a>
        </div>
    </div>
</div>
</div>